<% include partials/header %>

<div class="container">
  <div class="jumbotron">
    <h1> Create a new account </h1>

    <!-- Button trigger modal -->
    <a href="#exampleModal" data-toggle="modal">
      <em> Read me before creating an account!!! </em>
    </a>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Account types</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p> We have three types of accounts: </p>
            <p>
              <ul class="list-group">
                <li class="list-group-item">Admin</li>
                <li class="list-group-item">Service Provider</li>
                <li class="list-group-item">Customer</li>
              </ul>
            </p>
            <p> Only one type of account can be created - either Customer, Admin or Service Provider. </p>
            <p>Admin and Service Provider accounts require special codes obtained by contacting us.</p>
            <p> <strong> If no code is entered when registering, a default Customer account will be created! </strong> </p>
            <p> <em> * - required fields </em> </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container" style="margin:auto;">
      <form  action="/register" method="POST">
        <div class="form-group">
          <label for="firstName">First name *</label>
          <input type="text" class="form-control" name="firstName" id="ufirstname" placeholder="Enter your first name" required>
          <p></p>
          <label for="lastName">Last name *</label>
          <input type="text" class="form-control" name="lastName" id="ulastname" placeholder="Enter your last" required>
          <p></p>
          <label for="uname">Username *</label>
          <input type="text" class="form-control" name="username" id="uname" placeholder="Enter a username" required>
          <p></p>
          <label for="passw">Password *</label>
          <input type="password" class="form-control" name="password" id="passw" placeholder="Enter a password" required>
          <p></p>
          <label for="email">Email *</label>
          <input type="email" class="form-control" name="email" id="uemail" placeholder="Enter your email" required>
          <p></p>
          <label for="telephone">Telephone *</label>
          <input type="tel" class="form-control" name="telephone" id="utel" placeholder="Enter your telephone number" required>
          <p></p>
          <label for="admin">Admin</label>
          <input type="password" class="form-control" name="adminCode" id="admin" placeholder="Admin Code">
          <p></p>
          <label for="serviceProvider">Service Provider</label>
          <input type="password" class="form-control" name="serviceProviderCode" id="serviceProvider" placeholder="Service Provider Code">
        </div>
        <button type="submit">Submit</button>
      </form>
</div>

  </div>
</div>

<div class="container"> </div>

<% include partials/footer %>
