<% include ../partials/header %>

<div class="container">
  <div class="jumbotron">
    <h1> Edit wahat</h1>
  </div>
</div>

<div class="container" style="margin:auto;">
      <form  action="/services/<%= service_id %>/reviews/<%= review._id %>?_method=PUT" method="POST">
        <div class="form-group">
          <label for="reviewtext">Text</label>
          <textarea class="form-control" name="review[text]" id="reviewtext" rows="3"><%= review.text %></textarea>
        </div>
        <button type="submit">Submit</button>
      </form>
</div>

  </div>
</div>

<div class="container"> </div>

<% include ../partials/footer %>
